.b-popup-form input[type="submit"] {
    cursor: pointer;
    border: none;
    background: #29a41c;
    text-align: center;
    color: #fff;
    transition: 0.3s linear all;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 25px;
    height: 60px;
    line-height: 60px;
    width: 100%;
    font-size: 20px;
    box-shadow: none;
    font-weight: 800;
    text-transform: uppercase;
}

.b-form-popup__button .button-3[type="submit"] {
    padding-top: 22px;
}

div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
    border-color: #f96767;
}

.b-form-in-block .wpcf7-response-output {
    margin-top: 35px;
    font-size: 17px;
    color: #fff;
}

.b-form-in-block div.wpcf7-validation-errors,
.b-form-in-block div.wpcf7-validation-missing {
    border-color: #fff;
}


@media all and (max-width: 760px) {
    .b-contacts-block h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }
}
