html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $body-color;
  background-color: $body-bg;
}

[tabindex="-1"]:focus {
  outline: none !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 2rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: $dt-font-weight;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

dfn {
  font-style: italic;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: $table-cell-padding;
  padding-bottom: $table-cell-padding;
  color: $text-muted;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: left;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
  -webkit-overflow-scrolling: touch;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

::-moz-selection {
  background: #29a41c;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #29a41c;
  color: #fff;
  text-shadow: none;
}

::-webkit-input-placeholder {
  color: #585960;
  transition: 0.3s linear color;
}

:-moz-placeholder {
  color: #585960;
  transition: 0.3s linear color;
}

::-moz-placeholder {
  color: #585960;
  transition: 0.3s linear color;
}

:-ms-input-placeholder {
  color: #585960;
  transition: 0.3s linear color;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

* {
  min-width: 0;
  min-height: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: Gotham Pro, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  color: #fff;
  background-color: #0e0f13;
  -webkit-font-feature-settings: kern, liga, onum;
          font-feature-settings: kern, liga, onum;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: inherit;
}

blockquote {
  font-style: normal;
  padding: 15px;
  padding-left: 20px;
  border-left: 5px solid #29a41c;
  background-color: rgba(41,164,28,0.03);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: 'AA Bebas Neue';
  font-weight: 400;
  color: #fff;
  text-transform: none;
  line-height: 1.1;
}

h1::-moz-selection,
.h1::-moz-selection,
h2::-moz-selection,
.h2::-moz-selection,
h3::-moz-selection,
.h3::-moz-selection,
h4::-moz-selection,
.h4::-moz-selection,
h5::-moz-selection,
.h5::-moz-selection,
h6::-moz-selection,
.h6::-moz-selection {
  background: #29a41c;
  color: #fff;
  text-shadow: none;
}

h1::selection,
.h1::selection,
h2::selection,
.h2::selection,
h3::selection,
.h3::selection,
h4::selection,
.h4::selection,
h5::selection,
.h5::selection,
h6::selection,
.h6::selection {
  background: #29a41c;
  color: #fff;
  text-shadow: none;
}

a {
  text-decoration: underline;
  color: #29a41c;
}

a:hover, a:focus {
  color: #29a41c;
  text-decoration: none;
}

h1,
.h1 {
  font-size: 70px;
}

h2,
.h2 {
  font-size: 50px;
}

h3,
.h3 {
  font-size: 40px;
}

h4,
.h4 {
  font-size: 30px;
}

h5,
.h5 {
  font-size: 25px;
}

h6,
.h6 {
  font-size: 20px;
}

template,
[hidden] {
  display: none;
}

.font-thin {
  font-weight: 100;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.font-black {
  font-weight: 900;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  -webkit-overflow-scrolling: touch;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

svg:not(:root) {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.main-svg-sprite {
  display: none;
}

.svg-icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  fill: currentColor;
}

.svg-icon__spinner {
  fill: inherit;
  width: inherit;
  height: inherit;
  -webkit-animation-name: spinner;
          animation-name: spinner;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.svg-icon__link {
  vertical-align: top;
  fill: inherit;
  width: inherit;
  height: inherit;
}

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 20px 0;
  background: #ccc;
  color: #000;
  padding: 20px 0;
}

.demo-box {
  background-color: #009688;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.theme-color {
  color: #29a41c;
}

.theme-bgc {
  background-color: #29a41c;
}

.app-footer {
  -ms-flex: none;
      flex: none;
  padding: 0 0 20px;
}

.app-header {
  -ms-flex: none;
      flex: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
  color: #fff;
  transition: 0.3s linear background-color;
}

.app-header.js-fixed {
  background-color: #0e0f13;
}

.app-header.js-fixed .app-header__inner:before {
  height: 60px;
}

.app-header:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 1px solid rgba(255,255,255,0.15);
  z-index: -1;
}

.app-header__logo {
  font-size: 0;
  line-height: 0;
}

.app-header__logo a {
  display: inline-block;
  max-width: 228px;
}

.app-header__menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.app-header__menu ul li a {
  display: block;
  color: inherit;
  text-decoration: none;
}

.app-header__menu ul li a:hover, .app-header__menu ul li a:focus {
  text-decoration: underline;
}

.app-header__phone {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding-top: 5px;
  padding-bottom: 5px;
}

.app-header__phone a:not(.callbackPopup) {
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}

.app-header__phone .callbackPopup {
  display: inline-block;
}

@font-face {
  font-family: 'AA Bebas Neue';
  src: url("../images/font/AABebasNeue.eot");
  src: url("../images/font/AABebasNeue.eot?#iefix") format('embedded-opentype'), url("../images/font/AABebasNeue.woff2") format('woff2'), url("../images/font/AABebasNeue.woff") format('woff'), url("../images/font/AABebasNeue.ttf") format('truetype'), url("../images/font/AABebasNeue.svg#AABebasNeue") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../images/font/GothamPro.eot");
  src: url("../images/font/GothamPro.eot?#iefix") format('embedded-opentype'), url("../images/font/GothamPro.woff2") format('woff2'), url("../images/font/GothamPro.woff") format('woff'), url("../images/font/GothamPro.ttf") format('truetype'), url("../images/font/GothamPro.svg#GothamPro") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../images/font/GothamPro-Bold.eot");
  src: url("../images/font/GothamPro-Bold.eot?#iefix") format('embedded-opentype'), url("../images/font/GothamPro-Bold.woff2") format('woff2'), url("../images/font/GothamPro-Bold.woff") format('woff'), url("../images/font/GothamPro-Bold.ttf") format('truetype'), url("../images/font/GothamPro-Bold.svg#GothamPro-Bold") format('svg');
  font-weight: bold;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
}

html img,
body img {
  max-width: 100%;
  border: none;
  height: auto !important;
}

html {
  min-height: 100%;
  min-height: 100vh;
}

.app {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
  padding-top: 106px;
}

.app__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  height: 100vh;
}

.app__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
}

.app__main {
  -ms-flex: 1 1;
      flex: 1 1;
}

.site-block {
  -ms-flex: none;
      flex: none;
  position: relative;
  z-index: 1;
}

.site-title {
  text-align: center;
  margin-bottom: 40px;
  line-height: 0;
  display: block;
}

.site-title span {
  display: block;
  line-height: 1;
  padding-bottom: 22px;
}

.site-title:after {
  content: '';
  display: inline-block;
  vertical-align: top;
  width: 68px;
  height: 3px;
  background-color: #219d20;
}

.b-background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  overflow: hidden;
  max-height: 980px;
  -webkit-overflow-scrolling: touch;
}

.b-background img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  width: 100%;
}

.b-background:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to top, #0e0f13 0%, rgba(14,15,19,0.6) 100%);
}

.b-banner {
  font-size: 0;
  line-height: 0;
  padding: 100px 0;
}

.b-banner img {
  width: 100%;
}

.b-banner__mobile {
  display: none;
}

.b-cases {
  text-align: center;
  font-size: 18px;
}

.b-cases h2 {
  margin-bottom: 35px;
}

.b-cases h2:after {
  content: '';
  display: block;
  width: 68px;
  height: 3px;
  margin: 20px auto 0;
  background-color: #219d20;
}

.b-cases p {
  margin: 0 0 50px;
}

.b-cases-tabs {
  padding: 30px 0 80px;
}

.b-cases-tabs__list {
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 10px 0 30px;
  list-style: none;
}

.b-cases-tabs__list li {
  margin: 0 10px;
}

.b-cases-tabs__list li a {
  padding: 10px;
  font-family: 'AA Bebas Neue';
  font-size: 30px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  color: #fff;
  transition: 0.3s linear all;
  line-height: 1.2;
}

.b-cases-tabs__list li> a:hover,
.b-cases-tabs__list li.r-tabs-state-active > a,
.b-cases-tabs__list li> a:focus {
  color: #219d20;
}

.b-cases-tabs__list .svg-icon {
  display: none;
}

.b-cases-tabs__items-wrapper {
  border: 2px solid #219d20;
  padding: 40px;
}

.b-cases-tabs__item {
  display: none;
}

.b-cases-tabs .r-tabs-accordion-title {
  display: none;
}

.b-cases-review {
  padding: 30px 0 80px;
}

.b-cases-review__text {
  font-size: 16px;
  padding: 0 9% 16px;
}

.b-cases-review__more {
  font-size: 16px;
}

.b-cases-review__separator {
  font-family: 'AA Bebas Neue';
  color: #219d20;
  font-size: 120px;
  margin: 30px 0;
  line-height: 85px;
  height: 26px;
}

.b-cases-review__user-image {
  width: 120px;
  display: inline-block;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
  -webkit-overflow-scrolling: touch;
}

.b-cases-review__user-name {
  font-family: 'AA Bebas Neue';
  font-size: 36px;
  line-height: 1;
}

.b-cases-review__user-note {
  padding-top: 6px;
}

.b-images {
  padding: 100px 0 75px;
}

.b-images__item {
  font-size: 0;
  line-height: 0;
  text-align: center;
  margin: 0 1%;
  padding: 25px 0;
  opacity: 0.15;
  transition: 0.3s linear all;
  display: inline-block;
  vertical-align: middle;
}

.b-images__item img {
  max-width: 80%;
}

.b-images__item:hover, .b-images__item:focus {
  opacity: 1;
}

.b-images--partners .b-images__item {
  margin: 0;
}

.b-contacts {
  padding: 65px 0 35px;
  position: relative;
  z-index: 0;
}

.b-contacts:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  background: url("../images/img/map_bg.jpg") 50% 50% no-repeat;
  height: 1130px;
  top: -370px;
  z-index: -1;
}

.b-contacts__map {
  text-align: right;
  padding-right: 110px;
}

.b-contacts__map a {
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  line-height: 26px;
  padding: 5px 5px 5px 40px;
  position: relative;
}

.b-contacts__map a:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  transition: 0.3s linear all;
  width: 26px;
  height: 26px;
  background-color: #fff;
  border: 7px solid #219d20;
  border-radius: 100px;
}

.b-contacts__map a:hover:before, .b-contacts__map a:focus:before {
  background-color: #219d20;
  border-color: #fff;
}

.b-contacts__text {
  font-size: 22px;
}

.b-contacts__text a {
  display: inline-block;
}

input,
select,
textarea {
  width: 100%;
  background: transparent;
  border: none;
  box-shadow: inset 0 -1px 0 #323336;
  min-height: 40px;
  padding: 0 10px 10px;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  outline: none;
}

textarea {
  padding: 10px;
}

button,
.site-button {
  width: 100%;
  cursor: pointer;
  border: none;
  background: #29a41c;
  text-align: center;
  color: #fff;
  transition: 0.3s linear all;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  text-decoration: none;
  padding: 5px 25px;
  line-height: 1;
}

button:before,
.site-button:before {
  content: '';
  display: inline-block;
  width: 0;
  line-height: 0;
  font-size: 0;
  height: 40px;
}

button:hover,
.site-button:hover,
button:focus,
.site-button:focus {
  box-shadow: inset 0 0 0 3px #fff;
  background: #16161a;
  color: #fff;
}

.b-form-wrapper {
  padding: 80px 0;
}

.b-form {
  border: solid 15px rgba(255,255,255,0.05);
  border-top: none;
  padding: 28px 40px;
  font-size: 16px;
  position: relative;
  z-index: 1;
}

.b-form:after,
.b-form:before,
.b-form__header:before {
  content: '';
  display: block;
  position: absolute;
}

.b-form:before {
  right: 309px;
  bottom: 100%;
  width: 90px;
  height: 75px;
  background: url("../images/img/arrow-form.svg") -737px 0 no-repeat;
}

.b-form:after,
.b-form__header:before {
  border-top: solid 15px rgba(255,255,255,0.05);
}

.b-form:after {
  left: -15px;
  right: 399px;
  bottom: 100%;
}

.b-form__header:before {
  right: -15px;
  width: 324px;
  bottom: 100%;
}

.b-form__title {
  margin-bottom: 8px;
}

.b-form__text {
  font-size: 16px;
  line-height: 1.5;
}

.b-form__content {
  padding-top: 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -2.9%;
}

.b-form__item {
  width: 30.43%;
  margin-left: 2.9%;
  margin-bottom: 14px;
  position: relative;
}

.b-form__item-icon {
  position: absolute;
  top: 2px;
  left: 20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.b-form__item-icon + input {
  padding-left: 50px;
}

.b-form__note {
  font-size: 12px;
  color: #585960;
  max-width: 430px;
}

.b-form__note a {
  color: #585960;
}

.blockBlur {
  -webkit-filter: blur(6px);
  filter: blur(6px);
}

.mini-title {
  position: relative;
  color: #333;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.mini-title:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 5px;
  height: 1px;
  width: 112px;
  background: #333;
  margin-right: 20px;
}

.b-form-popup {
  margin-bottom: 40px;
  color: #333;
}

.b-form-popup input,
.b-form-popup select,
.b-form-popup textarea {
  color: #000;
}

.b-form-popup__item {
  margin-bottom: 22px;
  font-size: 0;
  line-height: 1;
}

.b-form-popup__personal-data {
  margin-top: 15px;
  color: #333;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.3;
}

.b-form-popup__personal-data a {
  display: inline-block;
}

.b-gallery {
  text-align: center;
  overflow: hidden;
  padding: 100px 0;
  -webkit-overflow-scrolling: touch;
}

.b-gallery__content {
  margin: 0 !important;
  padding-top: 20px !important;
}

.b-gallery:not(.b-gallery--content) .b-gallery__item:hover, .b-gallery:not(.b-gallery--content) .b-gallery__item:focus {
  -webkit-transform: scale(1.1) translate3d(0, 0, 0);
          transform: scale(1.1) translate3d(0, 0, 0);
}

.b-gallery__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  position: relative;
  z-index: 1;
  width: 100%;
  overflow: hidden;
  transition: 0.3s linear all;
  -webkit-overflow-scrolling: touch;
}

.b-gallery__item:hover, .b-gallery__item:focus {
  z-index: 3;
}

.b-gallery__item:hover:after, .b-gallery__item:focus:after {
  opacity: 1;
}

.b-gallery__item:hover .b-gallery__item-image, .b-gallery__item:focus .b-gallery__item-image {
  -webkit-filter: blur(5px) grayscale(0);
          filter: blur(5px) grayscale(0);
}

.b-gallery__item:hover .b-gallery__item-content, .b-gallery__item:focus .b-gallery__item-content {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.b-gallery__item:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  transition: 0.3s linear all;
  background-color: rgba(0,0,0,0.5);
}

.b-gallery__item:before {
  content: '';
  display: inline-block;
  width: 0;
  font-size: 0;
  line-height: 0;
  height: 340px;
}

.b-gallery__item-image {
  position: absolute;
  left: -10px;
  top: -10px;
  right: -10px;
  bottom: -10px;
  z-index: -2;
  background-size: cover;
  background-position: 50% 50%;
  -webkit-filter: blur(0) grayscale(100%);
          filter: blur(0) grayscale(100%);
  transition: 0.3s linear all;
}

.b-gallery__item-content {
  padding: 40px 20px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s linear all;
  text-align: center;
}

.b-gallery__item-title {
  margin-bottom: 20px;
}

.b-gallery__item-more {
  display: block;
  vertical-align: top;
  max-width: 262px;
  margin: 26px auto 0;
  line-height: 50px;
  border: 2px solid #fff;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  transition: 0.3s linear all;
  text-align: center;
}

.b-gallery__item-more:hover, .b-gallery__item-more:focus {
  border-color: #fff;
  background-color: #16161a;
  color: #fff;
}

.b-gallery--content {
  padding: 70px 0;
}

.b-gallery--content .b-gallery__content {
  padding: 0 !important;
}

.b-gallery--content .b-gallery__item {
  -ms-flex-align: end;
      align-items: flex-end;
  padding: 0;
}

.b-gallery--content .b-gallery__item:before {
  height: 500px;
}

.b-gallery--content .b-gallery__item + .b-gallery__item {
  margin-top: 50px;
}

.b-gallery--content .b-gallery__item-content {
  width: 100%;
  text-align: left;
  padding: 45px;
}

.b-gallery--content .b-gallery__item-more {
  margin: 26px 0 0;
}

.b-gallery--content .b-gallery__item-text {
  font-size: 18px;
}

.b-information {
  padding: 90px 0;
}

.b-information__title {
  max-width: 750px;
  margin-bottom: 30px;
}

.b-information__title span {
  line-height: 1.2;
}

.b-information__text {
  padding-top: 10px;
  font-size: 20px;
}

.b-links {
  text-align: center;
  padding: 100px 0;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.b-links canvas {
  max-width: 100%;
}

.b-links__more {
  padding-top: 40px;
}

.b-links__more a {
  padding-left: 50px;
  padding-right: 50px;
  width: auto;
}

.b-links__list {
  display: none;
}

.b-mouse {
  padding: 30px 0 50px;
  z-index: 0;
}

.b-mouse__content {
  text-align: center;
}

.b-mouse__button {
  padding: 10px;
  display: inline-block;
  font-size: 0;
  line-height: 0;
}

.b-mouse__button img {
  width: 19px;
}

.b-mouse__circle {
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
}

.b-mouse__circle-inner {
  display: inline-block;
  position: relative;
}

.b-mouse__circle-inner:before,
.b-mouse__circle-inner:after {
  content: '';
  position: absolute;
  border: 2px solid #fff;
  opacity: 0.1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 100000px;
}

.b-mouse__circle-inner:before {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.b-mouse__circle-inner:after {
  -webkit-transform: scale(0.37);
          transform: scale(0.37);
}

.b-navigation {
  position: fixed;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  font-size: 0;
  line-height: 0;
  text-decoration: none;
  z-index: 10;
}

.b-navigation__item {
  position: relative;
  display: block;
  padding: 5px;
  color: #c60505 !important;
}

.b-navigation__item:before,
.b-navigation__item:after {
  transition: 0.3s linear all;
}

.b-navigation__item:before {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 100px;
}

.b-navigation__item:after {
  content: attr(data-title);
  display: block;
  position: absolute;
  right: 100%;
  top: 50%;
  -webkit-transform: translate(20px, -50%);
          transform: translate(20px, -50%);
  white-space: nowrap;
  font-size: 10px;
  text-transform: uppercase;
  opacity: 0;
  visibility: hidden;
}

.b-navigation__item:hover:before,
.b-navigation__item.js-active:before,
.b-navigation__item:focus:before {
  background-color: #c60505;
}

.b-navigation__item:hover:after,
.b-navigation__item.js-active:after,
.b-navigation__item:focus:after {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.b-popup-form {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.7);
  z-index: 51;
  display: none;
}

.b-popup-form__in {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
  overflow: auto;
  height: 100%;
  width: 100%;
  background: #fff;
  -webkit-overflow-scrolling: touch;
}

.b-popup-form__box {
  position: relative;
  max-height: 100%;
  padding: 20px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.b-popup-form__close {
  position: fixed;
  right: 0;
  top: 0;
  padding: 20px;
  cursor: pointer;
}

.b-popup-form__close .svg-icon {
  width: 24px;
  height: 24px;
  color: #fd5757;
}

.b-popup-form__form-wr {
  -ms-flex: 0 0 474px;
      flex: 0 0 474px;
  max-width: 100%;
}

.b-popup-form .b-form-popup {
  margin-bottom: 0;
}

.b-popup-form .b-form-popup__title {
  color: #333;
  font-size: 46px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 40px;
}

.b-popup-form .b-form-popup textarea {
  height: 48px;
}

.b-popup-form .b-form-popup button {
  width: 100%;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
}

.b-popup-form .b-form-popup button:before {
  height: 50px;
}

.b-popup-form .b-form-popup__button {
  margin-top: 40px;
}

.b-popup-form__video-wr {
  position: relative;
  -ms-flex: 0 1 650px;
      flex: 0 1 650px;
  height: 800px;
  margin: 0 100px 0 -100px;
}

.b-popup-form__video-wr video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.b-quality {
  padding: 100px 0 0;
}

.b-quality__content {
  padding-top: 20px;
}

.b-quality__item {
  margin-bottom: 50px;
}

.b-quality__item-title {
  text-transform: uppercase;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.b-quality__item-title:after {
  content: '';
  display: block;
  font-size: 0;
  line-height: 0;
  clear: both;
}

.b-quality__item-image {
  width: 56px;
  min-width: 56px;
  text-align: center;
  margin-right: 16px;
  font-size: 0;
  line-height: 0;
}

.b-quality__item-text {
  color: #585960;
  padding: 22px 0;
}

.b-site-path {
  padding-top: 30px;
}

.b-site-path + * {
  padding-top: 100px;
}

.b-site-path a {
  color: #fff;
  text-decoration: none;
}

.b-site-path a:hover, .b-site-path a:focus {
  text-decoration: underline;
}

.b-site-path__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.b-site-path__separator {
  display: inline-block;
  width: 11px;
  height: 1px;
  background-color: #777779;
  position: relative;
  vertical-align: middle;
  margin: 0 10px;
}

.b-site-path__separator:before,
.b-site-path__separator:after {
  content: '';
  display: block;
  position: absolute;
  width: 5px;
  height: 1px;
  background-color: #777779;
  right: 0;
  top: 0;
}

.b-site-path__separator:before {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  margin-top: 2px;
}

.b-site-path__separator:after {
  margin-top: -2px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.b-steps {
  padding: 100px 0 20px;
}

.b-steps__content {
  position: relative;
}

.b-steps__content:before {
  content: '';
  display: block;
  position: absolute;
  left: -20px;
  top: 140px;
  bottom: 160px;
  width: 625px;
  background: url("../images/img/line.svg") 0 0 no-repeat;
  z-index: -1;
  background-size: auto 100%;
}

.b-steps__content+.b-steps__content:after {
  content: '';
  display: block;
  position: absolute;
  left: 25px;
  top: -155px;
  height: 220px;
  width: 270px;
  background: url("../images/img/line.svg") 0 -463px no-repeat;
  z-index: -1;
}

.b-steps__item {
  padding: 45px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.b-steps__item:nth-child(even) {
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.b-steps__item:nth-child(4n+1) .b-steps__item-number {
  width: 225px;
}

.b-steps__item-number {
  width: 260px;
  padding-right: 25px;
  font-family: 'AA Bebas Neue';
  font-size: 300px;
  color: #202124;
  line-height: 210px;
}

.b-steps__item-content {
  width: 620px;
}

.b-steps__item-title {
  line-height: 1;
  margin-bottom: 16px;
}

.b-steps__item-text {
  font-size: 18px;
  margin-bottom: 20px;
}

.b-steps__item-note {
  color: #585960;
}

.b-steps__item-more {
  display: inline-block;
  margin-top: 14px;
}

.b-workers {
  padding: 100px 0 30px;
}

.b-workers__content {
  padding-top: 50px;
}

.b-workers__item {
  text-align: center;
  margin-bottom: 55px;
}

.b-workers__item-image {
  margin: 0 auto 30px;
  max-width: 220px;
  height: 220px;
  font-size: 0;
  line-height: 1;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  transition: 0.3s linear all;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.b-workers__item-image-inner {
  border-radius: 100%;
  overflow: hidden;
  width: 100%;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: end;
      align-items: flex-end;
  -webkit-overflow-scrolling: touch;
}

.b-workers__item-image-inner img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  max-height: 98%;
  max-width: none;
}

.b-workers__item-image .svg-icon {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -20px;
  height: auto;
  fill: transparent;
  transition: 0.3s linear all;
  stroke: #202124;
  stroke-linecap: round;
  stroke-width: 6px;
  fill-rule: evenodd;
}

.b-workers__item-title {
  line-height: 1;
  margin-bottom: 14px;
}

.b-workers__item-text {
  color: #585960;
}

.b-workers__item:hover .b-workers__item-image, .b-workers__item:focus .b-workers__item-image {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.b-workers__item:hover .b-workers__item-image .svg-icon, .b-workers__item:focus .b-workers__item-image .svg-icon {
  stroke: #219d20;
}

@media screen and (min-width: 992px) {
  .app-header__phone .callbackPopup {
    line-height: 1;
    font-size: 14px;
  }

  .app-header__inner:before {
    content: '';
    display: inline-block;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 106px;
    transition: 0.3s linear all;
  }

  .app-header__logo {
    margin: 4px 0 15px;
  }

  .app-header__phone {
    font-size: 20px;
    text-align: right;
  }

  .app-header__popup-inner {
    width: auto !important;
  }

  .app-header__menu ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-align: center;
        align-items: center;
  }

  .app-header__menu ul li {
    padding: 0 10px;
  }

  .app-header__menu ul li a {
    padding: 5px;
  }

  .mobile-only {
    display: none !important;
  }

  .site-title--left {
    text-align: left;
  }

  .b-form--content .b-form__title {
    float: left;
    margin-right: 28px;
  }

  .b-form--content .b-form__header:after {
    content: '';
    display: block;
    clear: both;
  }
}

@media screen and (max-width: 1440px) {
  .b-gallery__item:before {
    height: 220px;
  }
}

@media screen and (max-width: 1200px) {
  .b-cases-tabs__list li a {
    font-size: 24px;
  }

  .b-gallery__item-content {
    padding: 20px;
  }
}

@media all and (max-width: 1190px) {
  .b-popup-form__box.container {
    width: 100%;
    margin: 0;
    padding: 0 25px;
  }

  .b-popup-form__video-wr {
    margin: 0 25px 0 -25px;
  }
}

@media screen and (max-width: 1024px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 991px) {
  h1,
  .h1 {
    font-size: 44px;
  }

  h2,
  .h2 {
    font-size: 36px;
  }

  h3,
  .h3 {
    font-size: 26px;
  }

  h4,
  .h4 {
    font-size: 30px;
  }

  h5,
  .h5 {
    font-size: 25px;
  }

  h6,
  .h6 {
    font-size: 20px;
  }

  .app-header.js-menu-opened {
    background-color: #16161a;
  }

  .app-header.js-menu-opened .app-header__popup {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  .app-header__logo {
    margin-bottom: 10px;
  }

  .app-header__content {
    padding-top: 14px;
    padding-bottom: 8px;
  }

  .app-header__phone {
    padding-top: 50px;
    font-size: 24px;
  }

  .app-header__popup {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: #0e0f13;
    box-shadow: 0 5px 15px rgba(0,0,0,0.73);
    z-index: -1;
    padding-top: 100px;
    padding-bottom: 60px;
    transition: 0.3s linear all;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }

  .app-header__popup-inner {
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    max-height: 60vh;
    -webkit-overflow-scrolling: touch;
  }

  .app-header__popup-inner::-webkit-scrollbar-thumb {
    background: #29a41c;
  }

  .app-header__popup-inner::-webkit-scrollbar {
    width: 5px;
  }

  .app-header__popup-button {
    text-align: right;
  }

  .app-header__popup-button a {
    width: 50px;
    position: relative;
    height: 50px;
    margin-right: -10px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    color: #fff;
    font-size: 0;
    line-height: 0;
  }

  .app-header__popup-button .svg-icon {
    max-width: 30px;
    transition: 0.3s linear all;
  }

  .app-header__popup-button .svg-icon--close {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
  }

  .app-header__menu ul li a {
    text-transform: uppercase;
    font-size: 36px;
    font-family: 'AA Bebas Neue';
  }

  .app {
    padding-top: 80px;
  }

  .desktop-only {
    display: none !important;
  }

  .site-title {
    margin-bottom: 28px;
  }

  .site-title span {
    padding-bottom: 20px;
  }

  .b-background__image {
    margin: 0 -10%;
  }

  .b-banner {
    padding: 50px 0;
  }

  .b-cases {
    font-size: 16px;
    text-align: left;
  }

  .b-cases h2:after {
    margin-left: 0;
  }

  .b-cases-tabs__list {
    display: none;
  }

  .b-cases-tabs .r-tabs-accordion-title {
    display: block;
    padding-bottom: 20px;
  }

  .b-cases-tabs .r-tabs-accordion-title a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: start;
        justify-content: flex-start;
    font-family: 'AA Bebas Neue';
    font-size: 30px;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    transition: 0.3s linear all;
  }

  .b-cases-tabs .r-tabs-accordion-title .svg-icon {
    width: 18px;
    min-width: 18px;
    margin-left: 14px;
    height: 22px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    transition: 0.3s linear all;
  }

  .b-cases-tabs .r-tabs-accordion-title.r-tabs-state-active a {
    color: #219d20;
  }

  .b-cases-tabs .r-tabs-accordion-title.r-tabs-state-active .svg-icon {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }

  .b-cases-tabs__items-wrapper {
    border: none;
    padding: 0;
  }

  .b-cases-tabs__item {
    padding-bottom: 16px;
  }

  .b-cases-review {
    padding-bottom: 40px;
  }

  .b-cases-review__content {
    position: relative;
  }

  .b-cases-review__text {
    padding-left: 50px;
    font-size: 15px;
  }

  .b-cases-review__separator {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
  }

  .b-cases-review__more {
    display: inline-block;
    margin-left: 50px;
  }

  .b-cases-review__user {
    padding-top: 26px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
  }

  .b-cases-review__user-image {
    width: 90px;
    min-width: 90px;
    margin: 0 20px 0 0;
  }

  .b-cases-review__user-name {
    font-size: 30px;
  }

  .b-images {
    padding: 50px 0 25px;
  }

  .b-images__item {
    margin: 0;
    padding: 10px;
  }

  .b-contacts {
    padding: 30px 0 10px;
    text-align: center;
  }

  .b-contacts:before {
    top: -400px;
    background-position: 62% 50%;
  }

  .b-contacts__map {
    padding-right: 75px;
    margin-bottom: -16px;
  }

  .b-contacts__map a {
    font-size: 0;
  }

  .b-contacts__text {
    font-size: 20px;
  }

  .b-form-wrapper {
    padding: 40px 0;
  }

  .b-form {
    border-width: 10px;
    padding: 25px 55px;
  }

  .b-form:before {
    width: 50px;
    height: 40px;
    right: 30px;
    background: url("../images/img/arrow-form_mobile.svg") -361px 0 no-repeat;
  }

  .b-form:after {
    left: -10px;
    right: 80px;
  }

  .b-form:after,
  .b-form__header:before {
    border-width: 10px;
  }

  .b-form__header:before {
    right: -10px;
    width: 40px;
  }

  .b-form__content {
    margin-left: 0;
  }

  .b-form__item {
    width: 100%;
    margin-left: 0;
    margin-bottom: 18px;
  }

  .b-form__text {
    font-size: 15px;
  }

  .b-gallery {
    padding: 50px 0;
  }

  .b-gallery--content {
    padding-top: 0;
  }

  .b-gallery--content .b-gallery__item + .b-gallery__item {
    margin-top: 20px;
  }

  .b-gallery--content .b-gallery__item:before {
    height: 300px;
  }

  .b-gallery--content .b-gallery__item-content {
    padding: 20px;
  }

  .b-gallery--content .b-gallery__item-text {
    font-size: 15px;
  }

  .b-information__title {
    text-align: left;
  }

  .b-links {
    padding: 50px 0;
  }

  .b-links__title {
    max-width: 400px;
    margin: 0 auto 28px;
  }

  .b-mouse__circle {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
  }

  .b-mouse__circle-inner {
    margin: 0 -50px;
  }

  .b-navigation {
    display: none;
  }

  .b-quality {
    padding: 50px 0 0;
  }

  .b-quality__content {
    padding: 0;
  }

  .b-quality__item {
    margin: 0;
    margin-bottom: 10px;
  }

  .b-quality__item + .b-quality__item {
    margin-top: 30px;
  }

  .b-quality__item-text {
    padding: 16px 0;
  }

  .b-site-path {
    display: none;
  }

  .b-steps {
    padding: 50px 0 25px;
  }

  .b-steps__content:before,
  .b-steps__content:after {
    content: none;
  }

  .b-steps__item {
    display: block;
    position: relative;
    padding: 0;
    margin-top: 40px;
  }

  .b-steps__item-content {
    width: auto;
  }

  .b-steps__item-number {
    position: absolute;
    right: -5px;
    top: 0;
    z-index: -1;
    font-size: 200px;
    width: auto !important;
    line-height: 140px;
    padding: 0;
  }

  .b-steps__item-text {
    margin-bottom: 14px;
  }

  .b-workers {
    padding: 50px 0 30px;
  }

  .b-workers__item:hover .b-workers__item-image, .b-workers__item:focus .b-workers__item-image {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  .b-workers__item-image .svg-icon {
    bottom: -23px;
  }
}

@media all and (max-width: 939px) {
  .b-popup-form__in {
    -ms-flex-pack: center;
        justify-content: center;
  }

  .b-popup-form__video-wr {
    display: none;
  }

  .b-popup-form__box.container {
    max-width: 450px;
    background: #fff;
    padding: 35px 25px 40px;
  }

  .b-popup-form .b-form .mini-title {
    display: none;
  }

  .b-popup-form .b-form__title {
    margin-bottom: 10px;
    font-size: 30px;
  }

  .b-popup-form__close {
    position: absolute;
  }
}

@media screen and (max-width: 767px) {
  .b-background__image {
    margin: 0 -300px;
  }

  .b-images--partners .b-images__content {
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .b-images--partners .b-images__item {
    width: 100% !important;
    max-width: 200px !important;
    -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
  }

  .b-images--partners .b-images__item + .b-images__item {
    margin-top: 20px;
  }

  .b-images--partners .b-images__item img {
    max-width: 80%;
  }

  .b-workers__content {
    padding-top: 20px;
  }

  .b-workers__item-image {
    max-width: 170px;
    height: 170px;
  }

  .b-workers__item-image-inner {
    display: block;
    padding-top: 10px;
  }

  .b-workers__item-image-inner img {
    max-height: none;
    max-width: 100%;
  }

  .b-workers__item .svg-icon {
    bottom: -31px;
  }
}

@media screen and (max-width: 640px) {
  .b-banner__desktop {
    display: none;
  }

  .b-banner__mobile {
    display: block;
  }

  .b-links__block {
    width: 640px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    position: relative;
    left: 50%;
  }
}

@media screen and (max-width: 575px) {
  .b-gallery__content {
    padding: 0 30px;
  }

  .b-gallery__item {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .b-gallery__item-content {
    padding: 20px 0;
  }
}

@media screen and (max-width: 460px) {
  .b-cases .b-cases-tabs .r-tabs-accordion-title a {
    font-size: 24px;
  }

  .b-contacts:before {
    background-position: 60% 50%;
  }

  .b-contacts__map {
    padding-right: 0;
  }

  .b-form {
    padding: 25px 15px;
  }

  .b-gallery__content {
    padding: 0 10px;
  }

  .b-gallery__item {
    padding-top: 0;
    padding-bottom: 0;
  }

  .b-gallery--content .b-gallery__item:before {
    height: 0;
  }

  .b-workers__item {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 991px) and (min-width: 461px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }
}